{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
</head>
    <title>Document</title>
  </head>
  <body >
 <style>
   
 </style>
    <h1>Data Barang</h1>
    <hr>
    
    <table class='table'  align="center"  style='text-align:center'>
      <tr class='head'>
        <th>NO</th>
        <th>Nama Barang</th>

        <th>Jenis Dokument</th>

        <th>Tanggal ditambah</th>
        <th>Jumlah Exemplar</th>
      </tr>
     
     

      {% for i in myvar %}
      <tr>
        
        <td>{{ forloop.counter }}</td>
        <td>{{i.nama_dokumen}}</td>
        <td>{{i.jenis_dokumen}}</td>
        <td>{{i.tanggal_ditambah}}</td>
        <td>{{i.jumlah_exemplar }}</td>
      </tr>
     

      {% endfor %}
    </table>
    <hr>

  </body>
</html>

