{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/index.css' %}>
</head>
  </head>
  <body>
   <section>
    <div class="container-fluid " style='background-image: none; background-color:#0A2640;'>
        <div
          class="d-flex flex-column align-items-center justify-content-center"
          style="min-height: 400px"
        >
          <h3 class="display-3 font-weight-bold text-white">Aplikasi Data Ruangan</h3>
          <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white btn btn-success px-4" href='/admin/'>Login</a></p>
          </div>
        </div>
      </div>
  </body>
</html>
